@using System.Web.Optimization
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MvcApplication 1 &bull; @ViewBag.Title</title>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <noscript>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Please enable JavaScript in your browser!
            </div>
        </noscript>

        <div class="row">
            @if (IsSectionDefined("sidebar"))
            {
                <div class="span2">
                    @RenderSection("sidebar", required: false)
                </div>
            }

            <div class="container-fluid">
        <div class="row-fluid">
            
            <!--/span-->
                <div class="row-fluid"><br />
                @RenderBody()
                    </div>
            <!--/span-->
        </div>
        <!--/row-->
        <hr>
        <footer>
            <p>&copy; 2014</p>
        </footer>
    </div><!--/.fluid-container-->
    <!-- <span class="hiddenSpellError" pre="">javascript</span> Section -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
    @if (IsSectionDefined("AddToBottom"))
    {
        @RenderSection("AddToBottom", required: false)
    }
</body>
</html>
